<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home - My Blog</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
</head>
<body>
    <div class="page-content">
        <h1>Welcome to My Blog!</h1>
        <a href="/posts">View Posts</a>
        <a href="/posts/new">Create a Post</a>
    </div>
    <footer style="margin-top: 50px; text-align: center;">
        <p>&copy; 2023 Renos Kerkides. All Rights Reserved.</p>
    </footer>
</body>
</html>
