<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<thead>
<tr>
    <th>Title</th>
    <th>Author</th>
    <th>Actions</th>
</tr>
</thead>
<tbody>
    <tr th:each="post : ${posts}">
        <br>
        <td th:text="${post.title}">Title</td>
        <td th:text="${post.author}">Author</td>
        <td>
            <a th:href="@{/posts/{id}(id=${post.id})}">View</a>
            <a th:href="@{/posts/{id}/edit(id=${post.id})}">Edit</a>
        </td>
    </tr>
    <br>
    <a href="/">Go Home</a>
</tbody>
</html>
