<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${post.title + ' - My Blog'}">Title - My Blog</title>
</head>
<body>

<h1 th:text="${post.title}">Title</h1>
<p th:text="${post.content}">Content</p>
<a th:href="@{/posts/{id}/edit(id=${post.id})}">Edit</a>
<form th:action="@{/posts/{id}/delete(id=${post.id})}" method="post">
    <input type="hidden" name="_method" value="delete" />
    <button type="submit">Delete</button>
</form>

</body>
</html>
